@model bookStoreTurkcell.Models.Genre

@{
    ViewData["Title"] = "Create";
}

<h1>Tür Ekle</h1>

<h4>Tür</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h1></h1>

@if (ViewBag.Message == 0)
{
    <div class="alert alert-danger" role="alert">
        <strong>Aaaa!</strong> Zaten olan bir türü eklemen çok gereksiz. <a asp-action="Index" class="alert-link"> Hadi Listeye dön artık</a>.
    </div>

}
else
{
    <div>
        <a asp-action="Index">Listeye dön</a>
    </div>
}
